<html>
    <header>
        <title>This is title</title>
    </header>
    <body>  
        <p>Hello World</p>      
        <h1 id="app">
            {{message}}
        </h1>
<script type="text/javascript" src="app.js"></script>
    </body>
</html>